projekt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="drzewo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dnazwa" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="ostatnia_modyfikacja" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                <xsd:group ref="grupy" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="bcg" type="imi" use="optional"/>
        </xsd:complexType>
        <xsd:key name="id_klad">
            <xsd:selector xpath="./klady/klad"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:key name="id_nisza">
            <xsd:selector xpath="./nisze/nisza"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:key name="id_ranga">
            <xsd:selector xpath="./rangi/ranga"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:key name="id_okres">
            <xsd:selector xpath="./okresy/okres"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="ojciec_klad" refer="id_klad">
            <xsd:selector xpath="./klady/klad"/>
            <xsd:field xpath="@ojciec"/>
        </xsd:keyref>
        <xsd:keyref name="rodzaj_gatunek" refer="id_klad">
            <xsd:selector xpath="./gatunki/gatunek"/>
            <xsd:field xpath="@rodzaj"/>
        </xsd:keyref>
        <xsd:keyref name="nisza_gatunek" refer="id_nisza">
            <xsd:selector xpath="./gatunki/gatunek"/>
            <xsd:field xpath="@nisza"/>
        </xsd:keyref>
        <xsd:keyref name="ranga_klad" refer="id_ranga">
            <xsd:selector xpath="./klady/klad"/>
            <xsd:field xpath="@ranga"/>
        </xsd:keyref>
        <xsd:unique name="skrot_okres">
            <xsd:selector xpath="./okresy/okres"/>
            <xsd:field xpath="@skrot"/>
        </xsd:unique>
    </xsd:element>

    <!-- GRUPY -->
    <xsd:group name="grupy">
        <xsd:choice>
            <xsd:sequence>
                <xsd:group ref="organizmy" minOccurs="1" maxOccurs="1"/>
                <xsd:group ref="dodatki" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:group ref="dodatki" minOccurs="1" maxOccurs="1"/>
                <xsd:group ref="organizmy" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:group>
    
    <xsd:group name="organizmy">
        <xsd:sequence>
            <xsd:element name="klady" type="klady" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="gatunki" type="gatunki" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="dodatki">
        <xsd:sequence>
            <xsd:element name="nisze" type="nisze" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="rangi" type="rangi" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="okresy" type="okresy" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:group>
    
    <!-- PODGRUPY -->
    <xsd:complexType name="klady">
        <xsd:sequence>
            <xsd:element name="klad" type="klad" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="gatunki">
        <xsd:sequence>
            <xsd:element name="gatunek" type="gatunek" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="nisze">
        <xsd:sequence>
            <xsd:element name="nisza" type="nisza" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="rangi">
        <xsd:sequence>
            <xsd:element name="ranga" type="ranga" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="okresy">
        <xsd:sequence>
            <xsd:element name="okres" type="okres" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <!-- OBRAZKI -->
    
    <xsd:attributeGroup name="obrazki">
        <xsd:attribute name="img" type="imi" use="required"/>
        <xsd:attribute name="imf" type="imi" use="optional"/>
    </xsd:attributeGroup>

    <xsd:simpleType name="imi">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=".*(\.jpg|\.png)"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- KLAD -->
    <xsd:complexType name="klad">
        <xsd:sequence>
            <xsd:element name="knazwa" type="knazwa" default="Klad" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="kid" use="required"/>
        <xsd:attribute name="ojciec" type="kid" use="optional"/>
        <xsd:attribute name="ranga" type="rid" use="optional"/>
        <xsd:attribute name="okresy" type="oid_list" use="required"/>
        <xsd:attribute name="wymarly" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="oid_list_base">
        <xsd:list itemType="oid"/>
    </xsd:simpleType>

    <xsd:simpleType name="oid_list">
        <xsd:restriction base="oid_list_base">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="kid">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="k[1-9][0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="knazwa">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][a-z]+"/>
            <xsd:minLength value="3"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- GATUNEK -->
    <xsd:complexType name="gatunek">
        <xsd:sequence>
            <xsd:element name="gnazwa" type="gnazwa" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_odkrycia" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="najwcz_datowanie" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="rodzaj" type="kid" use="required"/>
        <xsd:attribute name="nisza" type="nid" use="optional"/>
        <xsd:attribute name="wymarly" type="xsd:boolean" use="required"/>
        <xsd:attributeGroup ref="obrazki"/>
    </xsd:complexType>

    <xsd:simpleType name="gnazwa">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]+"/>
            <xsd:minLength value="3"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="njwdat">
        <xsd:restriction base="xsd:unsignedLong">
            <xsd:maxInclusive value="5000000000"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- NISZA -->
    <xsd:complexType name="nisza">
        <xsd:sequence>
            <xsd:element name="nnazwa" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nopis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="nid" use="required"/>
        <xsd:attribute name="img" type="imi" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="nid">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="n[1-9][0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- RANGA -->
    <xsd:complexType name="ranga">
        <xsd:sequence>
            <xsd:element name="rnazwa" type="rnazwa" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="rid" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="rid">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="r[1-9][0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="rnazwa">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][a-z]+"/>
            <xsd:minLength value="3"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- OKRES -->
    <xsd:complexType name="okres">
        <xsd:sequence>
            <xsd:element name="onazwa" type="onazwa" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="poczatek" type="mya" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="koniec" type="mya" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="oid" use="required"/>
        <xsd:attribute name="skrot" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="onazwa">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Prekambr"/>
            <xsd:enumeration value="Kambr"/>
            <xsd:enumeration value="Ordowik"/>
            <xsd:enumeration value="Sylur"/>
            <xsd:enumeration value="Dewon"/>
            <xsd:enumeration value="Karbon"/>
            <xsd:enumeration value="Perm"/>
            <xsd:enumeration value="Trias"/>
            <xsd:enumeration value="Jura"/>
            <xsd:enumeration value="Kreda"/>
            <xsd:enumeration value="Paleogen"/>
            <xsd:enumeration value="Neogen"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="oid">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="o[1-9][0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mya_base">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="mya">
        <xsd:simpleContent>
            <xsd:extension base="mya_base">
                <xsd:attribute name="sufiks" type="xsd:string" fixed="miliona lat temu" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
</xsd:schema>