projekt.dtd

<!ELEMENT ElementName EMPTY>

<!ENTITY % sztywne "IGNORE" >
<!ENTITY % luzne "INCLUDE" >
<!ENTITY % organizmy "((klady, gatunki)|(gatunki, klady))" >
<!ENTITY % nro "(nisze, rangi, okresy)" >
<!ENTITY % nor "(nisze, okresy, rangi)" >
<!ENTITY % ron "(rangi, okresy, nisze)" >
<!ENTITY % rno "(rangi, nisze, okresy)" >
<!ENTITY % orn "(okresy, rangi, nisze)" >
<!ENTITY % onr "(okresy, nisze, rangi)" >
<!ENTITY % dodatki "(%nro;|%nor;|%ron;|%rno;|%orn;|%onr;)" >
<!ENTITY % od "(%organizmy;, %dodatki;)" >
<!ENTITY % do "(%dodatki;, %organizmy;)" >
<!ENTITY % grupy "%od;|%do;" >

<![%sztywne;[
<!ELEMENT drzewo (klady, gatunki, nisze, rangi, okresy)
]]>
<![%luzne;[
<!ELEMENT drzewo (%grupy;) >
]]>

<!ENTITY % datr1 "xmlns:xsi" >
<!ENTITY % datr2 "xsi:noNamespaceSchemaLocation" >

<!ATTLIST drzewo %datr1; CDATA #IMPLIED >
<!ATTLIST drzewo %datr2; CDATA #IMPLIED >

<!ELEMENT klady (klad+) >
<!ELEMENT klad (knazwa) >
<!ELEMENT knazwa (#PCDATA) >
<!ATTLIST klad id ID #REQUIRED >
<!ATTLIST klad ojciec IDREF #IMPLIED >
<!ATTLIST klad ranga IDREF #IMPLIED >
<!ATTLIST klad okresy IDREFS #REQUIRED >

<!ELEMENT gatunki (gatunek*) >
<!ELEMENT gatunek (gnazwa) >
<!ELEMENT gnazwa (#PCDATA) >
<!ATTLIST gatunek rodzaj IDREF #REQUIRED >

<!ELEMENT nisze (nisza*) >
<!ELEMENT nisza (nnazwa, nopis?) >
<!ELEMENT nnazwa (#PCDATA) >
<!ELEMENT nopis (#PCDATA) >

<!ELEMENT rangi (ranga+) >
<!ELEMENT ranga (rnazwa) >
<!ELEMENT rnazwa (#PCDATA) >
<!ATTLIST ranga id ID #REQUIRED >

<!ELEMENT okresy (okres+) >
<!ELEMENT okres (onazwa) >
<!ELEMENT onazwa (#PCDATA) >
<!ATTLIST okres id ID #REQUIRED >
<!ATTLIST okres skrot NMTOKEN #REQUIRED >